html, body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background-color:white;
    background-image: url(image/clouds.gif);
   
}

#bed {
   
    width:100vw;
  
    height:100vh;
    background-image: url(image/bedtrue.jpg);
    background-size:contain;
    background-position: center;
    background-repeat:no-repeat;
    z-index: 30;
   

}

  
iframe{
    position:fixed;
    border:none;
    background-size:cover;
    background-position: center;
  

}

#frame1{
    
    left: 443px;
    top: 118px;
    width: 9vh;
    height: 17vh;
    background-size:cover;
    background-position: center;
    
}

#frame2{
    left: 1190px;
    top: 380px;
    width: 12vh;
    height: 15vh;
    transform: rotate(5deg);
    
}

#frame3{
    left: 558px;
    top: 210px;
    width: 10vh;
    height: 8vh;
    
}

#frame4{
    left: 830px;
    top: 71px;
    width: 12vh;
    height: 14vh;
    transform: rotate(-2deg);
}

#frame5{
    left: 815px;
    top: 335px;
    width: 12vh;
    height: 11vh;
    transform: rotate(93deg);
}

#frame7{
    left: 900px;
    top: 490px;
    width: 8vh;
    height: 6vh;
    transform: rotate(2deg);
    
}

#frame6{
    left: 840px;
    top: 442px;
    width: 14vh;
    height: 8vh;
    transform: rotate(2deg);
}

#frame8{
    
  left: 625px;
    top: 238px;
    width: 5vh;
    height: 5vh;
}